src/main/resources/xsd/productsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
			xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
			jaxb:version="2.0"
			xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
			jaxb:extensionBindingPrefixes="xjc">
	<xsd:annotation>
		<xsd:documentation>
			20190614 - версия 1, добавлен тег req/version
		</xsd:documentation>
		<xsd:appinfo>
			<jaxb:bindings node="//xsd:complexType[@name='Business']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Person']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Account']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Id']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Address']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Employment']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='BusinessBankruptcy']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='ConsumerBankruptcy']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='InformationPart']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='LegalItem']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='OfficialInformation']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Phone']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Serial</inheritance:implements>
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='InformationPart']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Collateral']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Guarantor']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='BankGuarantee']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:bindings node="//xsd:complexType[@name='Inquiry']">
				<inheritance:implements>com.tuc.intl.products.jaxb.dto.Disputable</inheritance:implements>
			</jaxb:bindings>
			<jaxb:globalBindings>
				<jaxb:javaType name="java.util.Calendar" xmlType="xsd:dateTime" parseMethod="javax.xml.bind.DatatypeConverter.parseDateTime" printMethod="javax.xml.bind.DatatypeConverter.printDateTime" />
				<jaxb:javaType name="java.util.Calendar" xmlType="xsd:date" parseMethod="javax.xml.bind.DatatypeConverter.parseDate" printMethod="com.tuc.intl.products.jaxb.dto.Context.printDate" />
			</jaxb:globalBindings>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="product" type="ProductType"/>
	<xsd:complexType name="ProductType">
		<xsd:sequence>
			<xsd:element name="prequest" type="ProductRequest" minOccurs="0"/>
			<xsd:element name="preply" type="ProductReply" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductReply">
		<xsd:sequence>
			<xsd:element name="pcr" type="PcrReport" minOccurs="0"/>
			<xsd:element name="report" type="CreditReport" minOccurs="0"/>
<!--			<xsd:element name="pcr" type="PcrReport" minOccurs="0"/>-->
			<xsd:element name="log" type="CreditReportLog" minOccurs="0"/>
			<xsd:element name="err" type="Error" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductRequest">
		<xsd:sequence>
			<xsd:element name="req" type="CreditReportRequest" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditReport">
		<xsd:sequence>
			<xsd:element name="SubjectReply" type="Subject" minOccurs="0"/>
			<xsd:element name="PersonReply" type="Person" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IdReply" type="Id" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AddressReply" type="Address" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PhoneReply" type="Phone" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EmploymentReply" type="Employment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AccountReply" type="Account" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BankingReply" type="Banking" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="CollectionReply" type="Collection" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="LegalItemsReply" type="LegalItem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InformationPartReply" type="InformationPart" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OfficialInfoReply" type="OfficialInformation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BankruptcyReply" type="BusinessBankruptcy" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConsumerBankruptcyReply" type="ConsumerBankruptcyReplyType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ClosedForCauseReply" type="ClosedForCause" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ReturnedItemReply" type="ReturnedItem" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ConsumerStatementReply" type="ConsumerStatement"	minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="BusinessReply" type="Business" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ClassificationReply" type="Classification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InquiryReply" type="Inquiry" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="OwnInquiries" type="OwnInquiries" minOccurs="0" maxOccurs="1" />
			<xsd:element name="OwnAccounts" type="OwnAccounts" minOccurs="0" maxOccurs="1" />
			<!-- RU LC4 start -->
			<xsd:element name="OwnIPRecords" type="OwnIPRecords" minOccurs="0" maxOccurs="1" />
			<!-- RU LC4 end -->
			<xsd:element name="addOns" type="addOns" minOccurs="0"/>
			<xsd:element name="calc" type="Calculations" minOccurs="0"/>
			<xsd:element name="groups" type="GroupsType" minOccurs="0"/>
			<xsd:element name="inqControlNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SuppressionStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MemberCodeStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="returnCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="replyDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="rawReply" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addOns">
		<xsd:sequence>
			<xsd:element name="messages" type="AlertMessage" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="decisions" type="Decision" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AlertMessage">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string" minOccurs="0"/>
			<xsd:element name="message" type="xsd:string" minOccurs="0"/>
			<xsd:element name="category" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="code" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="severity" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="view" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Decision">
		<xsd:sequence>
			<xsd:element name="key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="xsd:string" minOccurs="0"/>
			<xsd:element name="state" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodeText">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Text" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditReportLog">
		<xsd:sequence>
			<xsd:element name="ctLog" type="CodeText" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Error">
		<xsd:sequence>
			<xsd:element name="ctErr" type="CodeText" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Calculations">
		<xsd:sequence>
			<xsd:element name="totalAccts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalZeroBalanceAccounts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalActiveBalanceAccounts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="negativeRating" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="paid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="mostRecentAcc" type="xsd:date" minOccurs="0"/>
			<xsd:element name="oldest" type="xsd:date" minOccurs="0"/>
			<xsd:element name="totalHighCredit" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalCurrentBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalPastDueBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalOutstandingBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalScheduledPaymnts" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="installment" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="revolving" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="open" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="mortgage" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalOfficialInfo" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalLegalItems" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalBankruptcies" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalLiabilityBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalLegalItemsBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalCollections" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalCollectionsBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalClosedForCauseBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalReturnedItems" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalReturnedItemsBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalClosedForCause" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="mostRecentOfficialInfo" type="xsd:date" minOccurs="0"/>
			<xsd:element name="mostRecentLegalItem" type="xsd:date" minOccurs="0"/>
			<xsd:element name="mostRecentBankruptcy" type="xsd:date" minOccurs="0"/>
			<xsd:element name="mostRecentCollection" type="xsd:date" minOccurs="0"/>
			<xsd:element name="mostRecentReturnedItem" type="xsd:date" minOccurs="0"/>
			<xsd:element name="mostRecentClosedForCause" type="xsd:date" minOccurs="0"/>
			<xsd:element name="totalInquiries" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="recentInquiries" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="collectionsInquiries" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="mostRecentInq" type="xsd:date" minOccurs="0"/>
			<xsd:element name="mostRecentInqText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditCard" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="dynamicID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dynamicIDType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dynamicCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dynamicCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="primaryId" type="Id" minOccurs="0"/>
			<xsd:element name="reportIssueDateTime" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="totalBankingAccts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalBankingBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalNegBankingAccts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="mostRecentBanking" type="xsd:date" minOccurs="0"/>
			<xsd:element name="oldestBanking" type="xsd:date" minOccurs="0"/>
			<xsd:element name="accountsGroupTotal" type="AccountsGroupTotal" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="totalIPRecords" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="mostRecentLoanAppDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="oldestLoanAppDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="totalRejectedIPRecords" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalApprovedIPRecords" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalDefaultFlagIPRecords" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="totalClosedBankruptcies" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountsGroupTotal">
		<xsd:sequence>
			<xsd:element name="accountType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalAccts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="zeroBalance" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="negativeRating" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="positiveRating" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="highCredit" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="installment" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="currentBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="pastDueBalance" type="CurrencyCode" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="mostRecentAcctDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="oldestAcctDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CurrencyCode">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Value" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentPattern">
		<xsd:sequence>
			<xsd:element name="paymentDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="paymentText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymentValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="mopText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Business">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="businessName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numberOfEmployees" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="numberOfDirectors" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="revenueRangeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="revenueRangeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="businessStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="businessStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateOfStatus" type="xsd:date" minOccurs="0"/>
			<xsd:element name="abbreviatedBusinessName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="trademark" type="xsd:string" minOccurs="0"/>
			<xsd:element name="businessNameRF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="businessNameAlt" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Broker">
		<xsd:sequence>
			<xsd:element name="brokerId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Classification">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="typeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="number" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Account">
		<xsd:sequence>
			<xsd:element name="HistoryReply" type="History" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PaymentPattern" type="PaymentPattern" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="acctNumDisplay" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="ownerIndic" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ownerIndicText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="consent" type="xsd:string" minOccurs="0"/>
			<xsd:element name="consentText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="openedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastPaymtDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="completePerformDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="closedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="reportingDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="postedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="acctType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="acctTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="acctStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="acctStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="loanCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="loanCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymtHistory1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymtHistory2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymtHistoryStartDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="paymtHistoryEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="loanObjectiveText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateralCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateralValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateralDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="collateralExpirationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="collateral1Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateral2Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateral3Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateral" type="Collateral" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="lastDebtRestructureDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="percentPayment" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="creditCardTypeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditCardTypeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numCoborrowers" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="unitMakeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="unitModelText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditTypeFlagCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="highCreditAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="creditLimit" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="curBalanceAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="amtPastDue" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="termsNumPaymts" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="termsFrequency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guarantorIndicatorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guarantorIndicatorCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guaranteeVolumeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guaranteeVolumeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guaranteeAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="guaranteeTerm" type="xsd:date" minOccurs="0"/>
			<xsd:element name="guarantor" type="Guarantor" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="bankGuaranteeIndicatorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeIndicatorCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeVolumeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeVolumeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="bankGuaranteeTerm" type="xsd:date" minOccurs="0"/>
			<xsd:element name="bankGuarantee" type="BankGuarantee" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="rightOfClaimName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rightOfClaimID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rightOfClaimINN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rightOfClaimSNILS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditTotalAmt" type="xsd:string" minOccurs="0"/>
			<xsd:element name="termsAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="baloonPaymtAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="baloonPaymtDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastPurchasedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="amtOutstanding" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="firstDelqDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="maxDelqDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="maxDelq" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="maxDelqAmtDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="maxDelqAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="monthsReviewed" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="numDays30" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="numDays60" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="numDays90" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="numDays120" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="paymtPat" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MOPText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MOPMaxValue" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="MOPMaxValueText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymtPatStartDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="paymtFreqText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditAgreementNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountRelationship" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountRelationshipText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountRating" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountRatingText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="accountRatingDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="contractTerminationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="paymentDueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="oldMemeberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldCreditAgreementNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="interestPaymentDueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="interestPaymentFrequencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="interestPaymentFrequencyText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberFullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberShortName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberMiddleName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberRegNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTaxpayerID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberOKPO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueAuth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueLoc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="memberBusinessCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="businessCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="partnerRating" type="xsd:string" minOccurs="0"/>
			<xsd:element name="partnerStartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="partnerRegDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="principalOutstanding"  type="xsd:integer" minOccurs="0"/>
			<xsd:element name="intOutstanding"  type="xsd:integer" minOccurs="0"/>
			<xsd:element name="otherAmtOutstanding"  type="xsd:integer" minOccurs="0"/>
			<xsd:element name="principalPastDue"  type="xsd:integer" minOccurs="0"/>
			<xsd:element name="intPastDue"  type="xsd:integer" minOccurs="0"/>
			<xsd:element name="otherAmtPastDue"  type="xsd:integer" minOccurs="0"/>
			<xsd:element name="graceEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="creditTotalMonetaryAmt" type="xsd:string" minOccurs="0"/>
			<xsd:element name="uuid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="amendment" type="Amendment" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="payment" type="Payment" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Amendment">
		<xsd:sequence>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctSerialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="creditLimit" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="termsAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="closedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="paymentDueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="interestPaymentDueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="creditTotalAmt" type="xsd:string" minOccurs="0"/>
			<xsd:element name="amendType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="graceEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="reportingDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="gracePeriodReason" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="gracePeriodDeclinedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="graceStartDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="creditTotalMonetaryAmt" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Payment">
		<xsd:sequence>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="acctSerialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="paymtAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="paymtAmtDue" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paymtDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="paymtVolume" type="xsd:string" minOccurs="0"/>
			<xsd:element name="m24Total" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Collateral">
		<xsd:sequence>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctSerialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="agreementNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateralCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateralValue" type="xsd:string" minOccurs="0"/>
			<!-- LC5 -->
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<!-- LC5 -->
			<xsd:element name="collateralDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="collateralExpirationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="collateral1Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collateral2Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Guarantor">
		<xsd:sequence>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctSerialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="agreementNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guarantorIndicatorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guarantorIndicatorCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guaranteeVolumeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guaranteeVolumeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="guaranteeAmt" type="xsd:integer" minOccurs="0"/>
			<!-- LC5 -->
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<!-- LC5 -->
			<xsd:element name="guaranteeTerm" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BankGuarantee">
		<xsd:sequence>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctSerialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="agreementNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeIndicatorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeIndicatorCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeVolumeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeVolumeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankGuaranteeAmt" type="xsd:integer" minOccurs="0"/>
			<!-- LC5 -->
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<!-- LC5 -->
			<xsd:element name="bankGuaranteeTerm" type="xsd:date" minOccurs="0"/>
			<xsd:element name="bankGuaranteeOtherTermination" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GroupsType">
		<xsd:sequence>
			<xsd:element name="accounts" type="AccountGroupReply" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountGroupReply">
		<xsd:sequence>
			<xsd:element name="key" type="xsd:string" minOccurs="0"/>
			<xsd:element name="value" type="Account" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Address">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="resStat" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resStatText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="line1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="line2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="line3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="line4" type="xsd:string" minOccurs="0"/>
			<xsd:element name="subDistrict" type="xsd:string" minOccurs="0"/>
			<xsd:element name="district" type="xsd:string" minOccurs="0"/>
			<xsd:element name="houseNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="street" type="xsd:string" minOccurs="0"/>
			<xsd:element name="streetType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="streetTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="block" type="xsd:string" minOccurs="0"/>
			<xsd:element name="building" type="xsd:string" minOccurs="0"/>
			<xsd:element name="apartment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="city" type="xsd:string" minOccurs="0"/>
			<xsd:element name="prov" type="xsd:string" minOccurs="0"/>
			<xsd:element name="provText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="postal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="countryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="countryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="addressType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="addressTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportedDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="addrSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Banking">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="bkType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bkTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bkStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bkStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bkBalance" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="bkOverdraft" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="narrativeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ownerIndic" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ownerIndicText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="openedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="closedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="reportingDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Collection">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditor" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditorAcct" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="collectionStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportingDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="openedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="paidDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="curBalance" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="origBalance" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LegalItem">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="filingNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="caseNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="legalType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="legalTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="courtTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="statusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="court" type="xsd:string" minOccurs="0"/>
			<xsd:element name="courtType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="satisfiedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="consideredDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="originalAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="curBalance" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="plaintiff" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lawyer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="thirdParty" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="resolution" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformationPart">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="applicationNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="applicationDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="creditorTypeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditorTypeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="flagIndicatorCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="flagIndicatorCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="requestedLoanTypeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="requestedLoanTypeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="applicationShipmentCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="applicationShipmentCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approvalFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approvalFlagText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approvalExpireDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="rejectedAmt" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="rejectedAmtCurrencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rejectedDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="rejectedReasonCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rejectedReasonCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="agreementNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approvedLoanTypeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="approvedLoanTypeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="defaultFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="defaultFlagText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="loanIndicator" type="xsd:string" minOccurs="0"/>
			<xsd:element name="cancelFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberFullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberShortName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberMiddleName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberRegNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeIDText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTaxpayerID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberOKPO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueAuth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueLoc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="memberBusinessCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="businessCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="partnerRating" type="xsd:string" minOccurs="0"/>
			<xsd:element name="partnerStartDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="partnerRegDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsumerBankruptcyReplyType">
		<xsd:sequence>
			<xsd:element name="ConsumerBankruptcy" type="ConsumerBankruptcyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsumerBankruptcyType">
		<xsd:sequence>
			<xsd:element name="Bankruptcy" type="ConsumerBankruptcy" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsumerBankruptcy">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="caseId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportingDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="bankruptcyType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankruptcyTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="procedureInclusionDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="closeDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="additionalInfo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="additionalInfoText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="otherAdditionalInfo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="additionalInclusionDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="managerStartDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="managerEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="memberFullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberOKPO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BusinessBankruptcy">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankruptcyTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="bankruptcyStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="region" type="xsd:string" minOccurs="0"/>
			<xsd:element name="status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode1Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode2Text" type="xsd:string" minOccurs="0"/>
			<xsd:element name="court" type="xsd:string" minOccurs="0"/>
			<xsd:element name="caseNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="filingNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="division" type="xsd:string" minOccurs="0"/>
			<xsd:element name="filedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="dischargeDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="reportedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="assets" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="liabilities" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="plaintiff" type="xsd:string" minOccurs="0"/>
			<xsd:element name="trusteeName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="trusteeCompany" type="xsd:string" minOccurs="0"/>
			<xsd:element name="trusteePhone" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="resolution" type="xsd:string" minOccurs="0"/>
			<xsd:element name="consideredDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ClosedForCause">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="acctType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="acctWoStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ownershipCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="writeoffStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="openedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="writeOffDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="balance" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="overdraftLimit" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currencyCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ownershipCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Employment">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupationText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupationStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupationStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupationTrade" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupationTradeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="salaryCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="salary" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="salaryFreq" type="xsd:string" minOccurs="0"/>
			<xsd:element name="salaryFreqText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="startDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="endDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="current" type="xsd:string" minOccurs="0"/>
			<xsd:element name="title" type="xsd:string" minOccurs="0"/>
			<xsd:element name="titleText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="city" type="xsd:string" minOccurs="0"/>
			<xsd:element name="prov" type="xsd:string" minOccurs="0"/>
			<xsd:element name="countryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="countryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Id">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="idNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="seriesNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="documentNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="issueCountry" type="xsd:string" minOccurs="0"/>
			<xsd:element name="issueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="issueAuthority" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dataValidity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Inquiry">
		<xsd:sequence>
			<!-- RU LC4 start -->
			<xsd:element name="ConsentReq" type="Consent" minOccurs="0"/>
			<!-- RU LC4 end -->
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="inqControlNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="inquiryDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="inquiryDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="inquiryPeriod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="inquiryTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="inqPurpose" type="xsd:string" minOccurs="0"/>
			<xsd:element name="inqPurposeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="inqAmount" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberFullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberShortName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberLastName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberMiddleName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberRegNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeIDText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTaxpayerID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberOKPO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueAuth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueLoc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberIDIssueDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="memberBusinessCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="businessCategory" type="xsd:string" minOccurs="0"/>
			<xsd:element name="userReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="powerStartDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="powerEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OwnInquiries">
		<xsd:sequence>
			<xsd:element name="Inquiry" type="OwnInquiry" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OwnInquiry">
		<xsd:sequence>
			<xsd:element name="inqControlNum" type="xsd:long" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OwnAccounts">
		<xsd:sequence>
			<xsd:element name="Account" type="OwnAccount" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OwnAccount">
		<xsd:sequence>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0" />
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- RU LC4 start -->
	<xsd:complexType name="OwnIPRecords">
		<xsd:sequence>
			<xsd:element name="IPRecord" type="OwnIPRecord" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OwnIPRecord">
		<xsd:sequence>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<!-- RU LC4 end -->

	<!-- RU LC4 start -->
	<xsd:complexType name="Consent">
		<xsd:sequence>
			<xsd:element name="consentFlag" type="xsd:string" minOccurs="1"/>
			<xsd:element name="consentDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="consentExpireDate" type="xsd:date" minOccurs="0"/>
			<xsd:element name="consentPurpose" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="consentPurposeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="otherConsentPurpose" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportUser" type="xsd:string" minOccurs="0"/>
			<xsd:element name="liability" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- RU LC4 start -->

	<xsd:complexType name="OfficialInformation">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="Source" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Information" type="xsd:string" minOccurs="0"/>
			<xsd:element name="dateReported" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="customerType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="name1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="name2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="name3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="first" type="xsd:string" minOccurs="0"/>
			<xsd:element name="middle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="paternal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldSurname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="oldFirstName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suffix" type="xsd:string" minOccurs="0"/>
			<xsd:element name="suffixText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="gender" type="xsd:string" minOccurs="0"/>
			<xsd:element name="genderText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="title" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nationality" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nationalityText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="spouseName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="occupationText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="consentToEnquire" type="xsd:string" minOccurs="0"/>
			<xsd:element name="consentToEnquireText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="birthDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="deceasedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="maritalStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="maritalStatusText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numDependants" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="deathFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="countryBirth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="countryBirthText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="placeOfBirth" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="dataValidity" type="xsd:string" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Phone">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="number" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="phoneType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="phoneTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="phoneExt" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="disputedStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="disputedStatusText" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnedItem">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="acctNum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="amount" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="chequeDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="currencyCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reportingDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="narrativeCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="narrativeCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsumerStatement">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="serialNum" type="xsd:long" minOccurs="0"/>
			<xsd:element name="srcCountryCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="srcCountryCodeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberTypeText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberNameText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="memberContactText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="remarktype" type="xsd:string" minOccurs="0"/>
			<xsd:element name="remark" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="freezeFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressFlag" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="suppressStrDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="suppressEndDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Subject">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="displaySubj" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastUpdatedDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="fileSinceDt" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditReportRequest">
		<xsd:sequence>
			<xsd:element name="AccountReq" type="Account" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="AddressReq" type="Address" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="EmploymentReq" type="Employment" minOccurs="0"/>
			<xsd:element name="IdReq" type="Id" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="InquiryReq" type="Inquiry" minOccurs="0"/>
			<xsd:element name="PersonReq" type="Person" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="BusinessReq" type="Business" minOccurs="0"/>
			<xsd:element name="ClassificationReq" type="Classification" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PhoneReq" type="Phone" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="alertReq" type="AlertMessage" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="RequestorReq" type="Requestor" minOccurs="0"/>
			<xsd:element name="RefReq" type="Reference" minOccurs="0"/>
			<xsd:element name="BrokerReq" type="Broker" minOccurs="0"/>
			<xsd:element name="requestDateTime" type="xsd:date" minOccurs="0"/>
			<xsd:element name="IOType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OutputFormat" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Password" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lang" type="xsd:string" minOccurs="0"/>
			<xsd:element name="version" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Requestor">
		<xsd:sequence>
			<xsd:element name="MemberCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrgUnit" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UserID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Password" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Reference">
		<xsd:sequence>
			<xsd:element name="userReference" type="xsd:string" minOccurs="0"/>
			<xsd:element name="product" type="xsd:string" minOccurs="0"/>
			<xsd:element name="productAddOn" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="History">
		<xsd:sequence>
			<xsd:element name="fid" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="updateDt" type="xsd:date" minOccurs="0"/>
			<xsd:element name="PaymentPatternText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PaymentPatternValue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creditLimit" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="amountOwed" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PcrReport">
		<xsd:sequence>
			<xsd:element name="score" type="xsd:integer"/>
			<xsd:element name="reasons" type="PcrReasons" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PcrReasons">
		<xsd:sequence>
			<xsd:element name="I1" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="I2" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="I3" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="I4" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A1" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A2" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A3" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A4" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A5" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A6" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A7" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A8" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A9" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A10" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A11" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A12" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A13" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A14" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A15" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A16" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="A17" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="D1" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="D2" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="D3" type="xsd:integer"  minOccurs="0"/>
			<xsd:element name="D4" type="xsd:integer"  minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
